@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

}

body {
  /* display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh; 
  background-color: #a7a2a2;
  */
  
  margin: 0 10%;
}

li{
  margin-right: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4{
  font-size: 1rem;
  color: rgb(56, 56, 56);
}
h3{
  font-size: 1rem;
  color: rgb(56, 56, 56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a {
  color: rgb(56, 56, 56);
}